################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/Service/Inspur.ECP.Rtf.Core/obj
/src/Service/Inspur.ECP.Rtf.Api/obj
/src/Service/Inspur.Cloud.Platform.Common/obj
/src/Service/DataAccess/obj
/src/Service/Service/obj
/src/Service/ServiceWebApi/obj
/src/Service/Service/bin
/src/Service/Inspur.ECP.Rtf.Core/bin
/src/Service/Inspur.ECP.Rtf.Api/bin
/src/Service/Inspur.Cloud.Platform.Common/bin
/src/Service/DataAccess/bin
/src/Service/ServiceWebApi/bin
/src/Runtime/node_modules
/src/Runtime/ecm-apps-plan/.vscode
/src/Runtime/ecm-apps-plan/wwwroot/app/plan/web/m
/doc/design/newplan/Physical Data _2.pdb
/doc/design/newplan/PlanManagment.pdb
/src/.vs/ecm-apps-planmanager/v15
/src/PlanService/Inspur.Cloud.Platform.Common/bin
/src/PlanService/Inspur.Cloud.Platform.Common/obj
/src/PlanService/Inspur.ECP.Rtf.Api/bin
/src/PlanService/Inspur.ECP.Rtf.Api/obj
/src/PlanService/Inspur.ECP.Rtf.Core/bin
/src/PlanService/Inspur.ECP.Rtf.Core/obj
/src/PlanService/Service/bin
/src/PlanService/Service/obj
/src/PlanService/ServiceWebApi/bin
/src/PlanService/ServiceWebApi/obj
/src/PlanWeb/ecm-apps-planmanager/.vscode
/src/PlanWeb/ecm-apps-planmanager/wwwroot/app/planmanager/web/m
/src/PlanWeb/ecm-apps-planmanager/wwwroot/app/plan/web/m
/doc/design/newplan/~$计划管理.xlsx
/src/.vs/config
/src/Runtime/ecm-apps-plan/ClientApp
/src/Runtime/ecm-apps-plan/publist/ClientApp
/src/Runtime/ecm-apps-plan/publist
src/storage.ide.gsdb
