<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <packageSources>    
    <add key="GSP_Nuget" value="http://repos.iec.io/repository/nuget-gsp/" />  
  </packageSources>  
  <packageRestore>    
    <add key="enabled" value="True" />    
    <add key="automatic" value="True" />  
  </packageRestore>  
  <bindingRedirects>    
    <add key="skip" value="False" />  
  </bindingRedirects>  
  <packageManagement>    
    <add key="format" value="0" />    
    <add key="disabled" value="False" /> 
  </packageManagement>  
  <packageSourceCredentials>    
    <GSP_Nuget>        
      <add key="Username" value="ARTIFACTS_REPO_USERNAME" />        
      <add key="ClearTextPassword" value="ARTIFACTS_REPO_PASSWORD" />    
    </GSP_Nuget>    
    <GSP_Nuget_Snapshots>        
      <add key="Username" value="ARTIFACTS_REPO_USERNAME" />        
      <add key="ClearTextPassword" value="ARTIFACTS_REPO_PASSWORD" />    
    </GSP_Nuget_Snapshots>  
  </packageSourceCredentials>  
</configuration>
